a:link,
a:visited {
    text-decoration: none;
}

.filter-bar {
    display: flex;
    justify-content: space-between;
    margin: 20px 40px;
}

.dropdown-label,
.search-bar-label {
    padding: 10px;
    font-size: 1.1rem;
}

.dropdown-menu,
.search-bar {
    padding: 10px;
    border-radius: 8px;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.post,
.post-full-width {
    padding: 20px;
    min-width: 150px;
    margin: 20px;
    border: 1px solid #b23a48;
    border-radius: 10px;
    display: flex;
    background-color: #fff1eb;
}

.post {
    flex-basis: 20vw;
    flex-direction: column;
    justify-content: space-between;
}

.post-full-width {
    justify-content: space-between;
}

.page-heading {
    text-align: center;
    font-size: 2rem;
    margin: 10px;
}

.post-title {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px 0px;
}

.title-link {
    color: #461220;
}

.title-link:hover {
    color: #b23a48;
}

.post-topic {
    font-size: 1.1rem;
    font-style: italic;
}

.like-info {
    font-size: 1.3rem;
    color: #b23a48;
}

.like-icon {
    padding: 5px 5px 5px 1px;
}

.full-page-post {
    width: 70%;
    margin: 20px auto;
}

.post-author {
    display: flex;
    align-items: center;
    width: 40%;
}

.author-avatar {
    padding: 10px;
    border: 1.5px solid black;
    border-radius: 50%;
}

.author-name {
    margin-left: 5px;
}

.author-link,
.author-link:visited {
    color: #b23a48;
}

.author-link:hover {
    color: #461220;
}

.post-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.post-date {
    font-size: 0.8rem;
    margin: 10px 0 10px 11px;
}

.post-body {
    margin: 20px 30px 40px 30px;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: solid 1px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

.btns-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.btn-left {
    align-self: flex-start;
}

.add-like-btn {
    background-color: #b23a48;
    color: #fff1eb;
    text-decoration: none;
}

.add-btn-link:visited {
    color: #fff1eb;
}

.remove-like-btn,
.light-bg-btn {
    background-color: #fff1eb;
    color: #b23a48;
}

.remove-btn-link:visited,
.light-bg-btn-link {
    color: #b23a48;
}

.btn-right {
    align-self: flex-end;
}

.edit-post-btn {
    background-color: #461220;
    color: #e7e7e7;
    text-decoration: none;
}

.edit-btn-link,
.edit-btn-link:visited {
    color: #e7e7e7;
}
